
//Circula a imagem na tela
.circulo {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}
.box {
    width: 180px;
    height: 180px;
}

.img_perfil {
    width: 50%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    display: table;
}

//Ceta tamanho do mapa
#map {
    height: 70%;
    width: 70%;
  }