<ion-header>
  <ion-toolbar>
    <ion-title>Abrir Solicitação</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="login">

  <button class="btn btn-primary" [routerLink]="['/principal']">
    <ion-icon name="arrow-back"></ion-icon>
  </button>

  <div class="container">

    <br>
    <br>

    <div class="row">
      <div class="col-sm-12">
        <ion-item>
          <ion-label>Selecione a data: </ion-label>
          <ion-datetime value="01/05/2019" min="1990-02" max="2050-12" [dayShortNames]="customDayShortNames"
            displayFormat="DD/MM/YYYY" monthShortNames="jan, feb, mar, apr, mai, jun, jul, aug, sep, okt, nov, des"
            [(ngModel)]="data">
          </ion-datetime>
        </ion-item>
      </div>
    </div>

    <br>
    <br>

    <div class="row">
      <div class="col-sm-12">
        <div class="input-group col-sm-6">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Situação:</label>
          </div>
          <select class="custom-select" id="inputGroupSelect">
            <option value="0" selected>Selecione a batida</option>
            <option value="Entrada">Entrada</option>
            <option value="IdaAlmoco">Ida para almoco</option>
            <option value="VoltaAlmoco">Volta do almoco</option>
            <option value="Saida">Saida</option>
          </select>
        </div>
      </div>
    </div>

    <br>
    <br>

    <div class="row">
      <div class="col-sm-12">
        <ion-item>
          <ion-label>Horário</ion-label>
          <ion-datetime value="00:00" displayFormat="HH:mm" [(ngModel)]="HorarioBatida"></ion-datetime>
        </ion-item>
      </div>
    </div>

    <br>
    <br>

    <div class="row">
      <div class="col-sm-12">
        <ion-label>Justificativa:</ion-label>
        <br>
        <br>
        <textarea rows="5" cols="35" id="inputTextArea" [(ngModel)]="descricao"
          placeholder="Informe a justificativa."></textarea>
      </div>
    </div>

    <br>

  </div>
</ion-content>

<ion-footer>
  <ion-button expand="block" (click)="Enviar()">Confirmar</ion-button>
</ion-footer>