.content{
    --ion-background-color: black;
    --ion-color: white;
  
}
.head{
    width: 100%;
    height: 100%;
    align-items: initial;
}
.texto{
    font-size: 12pt;
    --ion-color: white;
    font-family: 'Courier New', Courier, monospace;
    margin: 4%;
}
