<ion-header>
  <ion-toolbar>
    <ion-title>Espelho do Ponto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <button class="btn btn-primary" [routerLink]="['/principal']">
    <ion-icon name="arrow-back"></ion-icon>
  </button>

  <ion-button class="pdf texto" color="success" (click)='exportarPDF()'>Exportar PDF</ion-button>

  <div class="container-fluid">
    <br>
    <br>
    <div class="row flex-xl-nowrap">
      <h3 class="titulo">Espelho de ponto</h3>
      <br>
      <table class="table table-striped" *ngIf="historicos">
        <thead>
          <tr class="col-sm">
            <th scope="col">Data</th>
            <th scope="col">Entrada</th>
            <th scope="col">Almoço</th>
            <th scope="col">Volta</th>
            <th scope="col">Saída</th>
          </tr>
        </thead>
        <tbody>
          <tr class="col-sm" *ngFor="let historico of historicos">
            <th scope="row">{{historico.DiaSemana}}</th>
            <td>{{historico.Entrada}}</td>
            <td>{{historico.IdaAlmoco}}</td>
            <td>{{historico.VoltaAlmoco}}</td>
            <td>{{historico.Saida}}</td>
          </tr>
        </tbody>
      </table>
      <br>
    </div>
    <br>
    <div class="row flex-xl-nowrap">
      <h3 class="titulo">Localização</h3>
      <br>
      <table class="table table-striped" *ngIf="localizacaoList">
        <thead>
          <tr class="col-sm">
            <th scope="col">Data</th>
            <th scope="col">Registro</th>
            <th scope="col">Latitude</th>
            <th scope="col">Longitude</th>
          </tr>
        </thead>
        <tbody>
          <tr class="col-sm" *ngFor="let localizacao of localizacaoList">
            <th sscope="row">{{localizacao.DataRegistroPonto}}</th>
            <td>{{localizacao.RegistroPonto}}</td>
            <td>{{localizacao.Latitude}}</td>
            <td>{{localizacao.Longitude}}</td>
          </tr>
        </tbody>
      </table>
      <br>
    </div>
  </div>

</ion-content>