.texto {
    text-align: center;
    font-size: 15px;
    color: black;
}

.pdf {
    position: absolute;
    right: 0px;
}

.titulo {
    text-align: center;
    font-size: 25px;
    color: black;
    margin: 0 auto;
    float: none;
}