.button{
    margin: 0px 10px;
}

.ion-footer{
    text-align: center;
}

.imagem{
    text-align: center !important;
    position: relative;
    top: 50%;
    overflow: hidden;
    transform: translateY(-50%); 
}